/* #navbar2 {
   
    position: fixed;
    top: -70px;
    background-color: #e9f1ff;
    transition: top 0.3s;
} */

.navbar-nav {
    flex: auto !important;
    flex-wrap: wrap !important;
    gap: 30px !important;
    justify-content: center !important;
}

.navbar .content-right {
    display: flex;
    align-items: center;
}

button.btn-contact-nav {
    width: 100px;
    padding: -2px;
    height: 43px;
    border-radius: 29px;
    border: none;
    outline: none;
    background-color: #b39359;
    color: white;
}

.navbar-brand img {

    width: 100px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 8px 70px;
}

i.fas.fa-sign-in-alt {
    margin-left: 10px;
    font-size: 20px;
}

p.username {
    margin: 0 10px;
}









.add-property button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #b39359;
    border-radius: 5px;
    padding: 6px 9px;
    color: white;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.header-container {
    /* height: 100%;
    width: 100%; */
    /* margin: 0 -16px; */
    background-color: #e9f1ff;
}



.header-content-center {
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    /* padding-right: 706px; */
    /* padding-left: 160px; */
    /* padding-top: 10px; */
    height: 100%;
    /* padding: 186px 390px; */
    width: 100%;
}

.header-content-center .p-up {
    color: white;
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;

}

.header-content-center .p-center {
    color: #b39359;
    font-size: 62px;
    margin-bottom: 20px;
    text-align: center;

}

.header-content .header-content-center .p-down {
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
    text-align: center;

}

.header-content {

    height: 633px;
    background: linear-gradient(to top, #0b2c3d, #050e13ab), url(images/bg-1.webp);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 
.header-cover {

    height: 633px;
    background-color: #0b2c3d;
    margin-bottom: -60px;
    opacity: 0.8;
} */

.property-detail {
    height: 100%;

}

.property-detail .property-description {

    margin-bottom: 60px;
}


.property-detail .property-description .image {

    height: 400px;
    /* background-image: url("images/post1.webp"); */

    margin-left: 50px;
    margin-right: 50px;
    /* background-repeat: no-repeat;
    background-position: center; */
}

.property-detail .property-description .image img {

    height: 100%;
    /* background-image: url("images/post1.webp"); */

    width: 100%;
    /* background-repeat: no-repeat;
    background-position: center; */
}

.property-detail .property-description .title {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    margin: 20px 0;
}

.property-detail .property-description .address {
    color: #b39359;
    font-size: 17px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 15px;
}

.property-detail .property-description .description {
    padding: 0 56px;
    text-align: justify;
}

.property-detail .property-amenities {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 57px;
    padding: 0 71px;
    border-top: 1px solid rgb(238, 231, 231);
    border-bottom: 1px solid rgb(238, 231, 231);
}

.property-detail .property-amenities .amentity-title {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    margin: 20px 0;

}

.property-detail .property-amenities .p-2 {
    font-size: 19px;
    font-weight: 600;
}

.property-detail .property-amenities .amentity-content {
    display: flex;
    padding: 0 50px;
}

.property-detail .property-amenities .amentity-content .amentity-child {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.property-detail .property-amenities .amentity-content .amentity-child i {
    color: #b39359;
    margin-right: 10px;
}

.property-feature {
    padding: 0 78px;
}

.property-detail .property-feature .property-feature-item i {
    margin-bottom: 15px;
    margin-right: 12px;
}

.property-detail .property-feature .property-feature-item .item-area {
    display: flex;
    align-items: center;
}

.property-detail .property-feature .property-feature-item .item-direction {
    display: flex;
    align-items: center;
}

.property-detail .property-feature .property-feature-item .item-bedroom {
    display: flex;
    align-items: center;
}

.property-detail .property-feature .property-feature-item .item-furniture {
    display: flex;
    align-items: center;
}

.property-detail .property-feature .property-feature-item .item-price {
    display: flex;
    align-items: center;
}

.property-detail .property-feature .property-feature-item .item-num-floor {
    display: flex;
    align-items: center;
}

.property-detail .property-feature .property-feature-item .item-bath {
    display: flex;
    align-items: center;
}

.property-detail .contact {
    display: flex;
    flex-direction: column;
}

.property-detail .contact .contact-title {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    margin: 20px 0;

}

.property-detail .contact .contact-content {
    padding: 0 100px;
}

.property-detail .contact .contact-content .btn-contact {
    text-align: center;
}

.property-detail .contact .contact-content .btn-contact button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #0b2c3d;
    color: white;
    padding: 8px 15px;
    border-radius: 17px;

}

#map {
    margin-top: 30px;
    height: 400px;
}

/* 
   * Optional: Makes the sample page fill the window. 
   */
/* html, */
/* body {
    height: 100%;
    margin: 0;
    padding: 0;
} */

#floating-panel {
    position: absolute;
    top: 357px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
}

#floating-panel {
    position: absolute;
    top: 357px;
    left: 50%;
    margin-left: -180px;
    width: 350px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

#latlng {
    width: 225px;
}


















.project-section {
    display: flex;
    flex-direction: column;

}

.pagination {

    justify-content: center;
    margin-top: 50px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}




.contact-container {
    height: 100%;
    width: 100%;
    /* margin: 0 -16px; */
    background-color: #0b2c3d;
    margin-top: 67px;

    display: flex;



}

.contact-container .left .title-1 {
    color: white;
    font-size: 18px;
}

.contact-container .left .title-2 {
    color: #b39359;
    font-size: 52px;
}

.contact-container .left .title-3 {
    color: white;
    font-size: 21px;
}

.contact-container .left {

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 22px;
    margin-left: 116px;
}



.contact-container .right {}

.contact-container .right img {
    max-width: 100%;
    max-height: 100%;
}

.contact-container .contact-3 {
    display: flex;
    position: relative;
}

.contact-container .btn-getlist {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #b39359;
    border-radius: 10px;
    padding: 6px 9px;
    color: white;
    position: absolute;
    /* right: 13px; */
    left: 270px;
    top: 4px;
}

input.input-contact {
    width: 346px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid #b39359;
    outline: none;
    /* position: relative; */
}

.container-footer {
    background-color: #eeeeee;
}

#btn-footer {
    border: none;
    outline: none;
    height: 41px;
    width: 106px;
    cursor: pointer;
    border-radius: 11px;
    background-color: #353a40
}

#btn-footer a {
    color: white;
}










@media only screen and (max-width :700px) {
    .header-content-center .p-up {
        color: white;
        font-size: 12px;
        margin-bottom: 20px;
        text-align: center;

    }

    .header-content-center .p-center {
        color: #b39359;
        font-size: 37px;
        margin-bottom: 20px;
        text-align: center;

    }

    .header-content .header-content-center .p-down {
        color: white;
        font-size: 15px;
        margin-bottom: 25px;
        text-align: center;

    }

    nav.navbar.navbar-expand-lg.navbar-light.bg-light {
        padding: 8px 18px;
    }

    .contact-container {
        /* height: 100%; */
        width: 100%;
        /* margin: 0 -16px; */
        /* background-color: #0b2c3d; */
        margin-top: 67px;
        background-color: #0b2c3d;

        /* background-image: url("images/home-1.webp");
        background-repeat: no-repeat; */

        display: flex;
        flex-direction: column;
        margin-left: 2px;

    }

    .contact-container .left {

        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        flex-wrap: wrap;
        gap: 22px;
        margin-left: 16px;
        margin-top: 30px;

    }

    .contact-container .left .title-1 {
        color: white;
        font-size: 15px;
    }

    .contact-container .left .title-2 {
        color: #b39359;
        font-size: 37px;
    }

    .contact-container .left .title-3 {
        color: white;
        font-size: 12px;
    }

    input.input-contact {
        width: 250px;
        height: 44px;
        border-radius: 10px;
        border: 1px solid #b39359;
        outline: none;
        /* position: relative; */
    }

    .contact-container .btn-getlist {
        cursor: pointer;
        outline: none;
        border: none;
        background-color: #b39359;
        border-radius: 10px;
        padding: 6px 9px;
        color: white;
        position: absolute;
        /* right: 13px; */
        left: 179px;
        top: 4px;
    }

}



/* background-color: #e29200; */