.container-fluid {
    width: 100% !important;
    padding: 0 !important;
}

.navbar-nav {
    flex: auto !important;
    flex-wrap: wrap !important;
    gap: 30px !important;
    justify-content: center !important;
    /* width: 100%; */
}

.navbar .content-right {
    display: flex;
    align-items: center;
}

button.btn-contact-nav {
    width: 100px;
    padding: -2px;
    height: 43px;
    border-radius: 29px;
    border: none;
    outline: none;
    background-color: #b39359;
    color: white;
}

i.fas.fa-sign-in-alt {
    margin-left: 10px;
    font-size: 20px;
}

p.username {
    margin: 0 10px;
}

.navbar-brand img {

    width: 100px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 8px 70px;
}


/* .container {
    max-width: 50rem !important;
} */

.add-property button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #b39359;
    border-radius: 5px;
    padding: 6px 9px;
    color: white;
}

.header-container {
    height: 100%;
    width: 100%;
    /* margin: 0 -16px; */
    background-color: #0b2c3d;
    margin-top: 67px;

    display: flex;
    /* margin-x: 30px; */
    /* margin-right: 0; */
    /* margin-left: 36px; */
    /* left: 0; */
    /* position: fixed; */
    /* margin: 0; */
    /* margin-left: 31px; */


}

.header-container .left .title-1 {
    color: white;
    font-size: 18px;
}

.header-container .left .title-2 {
    color: #b39359;
    font-size: 52px;
}

.header-container .left .title-3 {
    color: white;
    font-size: 21px;
}

.header-container .left {

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 22px;
    margin-left: 116px;
}



.header-container .right {}

.header-container .right img {
    max-width: 100%;
    max-height: 100%;
}

.header-container .btn-contact {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #b39359;
    border-radius: 13px;
    padding: 6px 9px;
    color: white;
}






.body-container .serch-section {
    height: 100%;
    border: 1px solid #b39359;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.body-container .serch-section .province {
    height: 100%;
    padding-right: 25px;
    padding-left: 25px;


}

.body-container .serch-section .province select {
    border: 1px solid #b39359 !important;
}

.body-container .serch-section .district {
    height: 100%;
    padding-right: 25px;
    padding-left: 25px;

}

.body-container .serch-section .district select {
    border: 1px solid #b39359 !important;
}

.body-container .serch-section .ward {
    height: 100%;
    padding-right: 25px;
    padding-left: 25px;


}

.body-container .serch-section .ward select {
    border: 1px solid #b39359 !important;
}

.body-container .serch-section .search {


    display: flex;
    align-items: center;
    justify-content: center;

}

.body-container .serch-section .search button {
    width: 95px;
    height: 50px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #b39359;
    background-image: url('images/search-outline.svg');
    background-position: center;
    background-repeat: no-repeat;

}

.project-section {
    /* margin: 0 -105px; */
}

.body-container .project-section .title-1 {
    text-align: center;
}

.body-container .project-section .title-1 p {
    color: #bf9359;
}

.body-container .project-section .title-p-1 {
    text-align: center;
}

.body-container .project-section .title-p-1 p {
    font-size: 30px;
    color: black;
}

.carousel-indicators {

    margin-bottom: -33px;
}

.carousel-indicators .button-slide {
    border: 1px solid black;
    border-radius: 50%;
    width: 10px;
    height: 10px;

}

.carousel-indicators .button-slide:hover {
    border: 1px solid black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #b39359;
    opacity: 1;

}


element.style {}

.carousel-indicators .button-slide {
    border: 1px solid black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #b39359;
}

.carousel-indicators li {

    /* transition: opacity .6s ease; */
}

.carousel-inner .slide-customize {
    display: flex;
    justify-content: center;

}

.slide-customize .project-type {
    width: 65px;
    text-align: center;
    margin-top: -45px;
    background-color: white;
    margin-right: 13px;
    border: none;
}


.card-body {
    display: flex;
    flex-direction: column;
}

.project-section .card-body .card-p-1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
}

.project-section .card-body .card-p-1:hover {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #b39359;
    cursor: pointer;
}

.project-section .content-project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-section .content-project .p-see-all {
    margin-bottom: 12px;
    font-size: 18px;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
    color: #b39359;
    opacity: 0.7;
}

.project-section .content-project .p-see-all:hover {
    margin-bottom: 12px;
    font-size: 18px;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
    color: #b39359;
    opacity: 1;

}

.project-section .card:hover {
    animation-name: cardHover;
    animation-duration: 2s;
}

@keyframes cardHover {
    0% {

        left: 0px;
        bottom: 0px;
    }

    20% {

        left: 0px;
        bottom: 20px;
    }

    /* 50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    } */
}


.project-section .card-body .card-p-2 {
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.project-section .card-body .card-p-3 {
    font-size: 14px;
    margin-bottom: 10px;

}

.card-body .card-icon {
    display: flex;
}

.project-section .card-body .card-icon .icon-body {

    border-right: 2px solid #e0e0e0;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.card-body .card-icon .icon-1 {

    padding-right: 5px;
}

.card-body .card-icon .icon-2 {

    padding-left: 5px;
    padding-right: 10px;
}

.card-body .card-icon .icon-3 {

    padding-left: 5px;
    padding-right: 10px;
}

.card-body .card-icon .icon-4 {

    padding-left: 5px;
    padding-right: 10px;
    border: none !important
}

.card-body .card-border-center {

    border-top: 2px solid #e0e0e0;
    margin-top: 10px;
}

.card-body .card-p-4 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600;
}

.introduce-section {
    margin-top: 110px;
    padding: 0 150px;
    margin-left: -105px;
    margin-right: -105px;
}

.introduce-section .content-left .left-img {
    background-image: url(images/about1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.introduce-section .content-left .left-p-1 {
    color: #b39359;
    margin-bottom: 10px;
}

.introduce-section .content-left .left-p-2 {
    font-size: 5.5vh;
    padding-right: 12px;
}

.introduce-section .content-left .left-img {
    height: 400px;
    width: 400px;
}


.introduce-section .content-right {}

.introduce-section .content-right .right-p-1 {
    margin-bottom: 30px;
}

.introduce-section .content-right .right-p-2 {
    display: flex;
    margin-bottom: 10px;
}

.introduce-section .content-right .right-p-2 .right-p-2-icon {
    margin-right: 10px;
}

.introduce-section .content-right .right-p-2 .right-p-2-icon i {
    font-size: 3.9vw;
    color: #b39359;
}

.introduce-section .content-right .right-p-3 {
    display: flex;
    margin-bottom: 10px;
}

.introduce-section .content-right .right-p-3 .right-p-3-icon {
    margin-right: 10px;
}

.introduce-section .content-right .right-p-3 .right-p-3-icon i {
    font-size: 3.5vw;
    color: #b39359;
}

.introduce-section .content-right .right-p-4 {
    display: flex;
    margin-bottom: 10px;
}

.introduce-section .content-right .right-p-4 .right-p-4-icon {
    margin-right: 10px;
}

.introduce-section .content-right .right-p-4 .right-p-4-icon i {
    font-size: 3.5vw;
    color: #b39359;
}

.neighborhood-section {
    /* margin-left: -105px;
    margin-right: -105px; */
}

.body-container .neighborhood-section .title-1 {
    text-align: center;
}

.body-container .neighborhood-section .title-1 p {
    color: #bf9359;
}

.body-container .neighborhood-section .title-p-1 {
    text-align: center;
}

.body-container .neighborhood-section .title-p-1 p {
    font-size: 30px;
    color: black;
}

.neighborhood-section .card-img-top {
    width: 100%;
    height: 31vw;
    object-fit: cover;
}

.body-container .expert-section {
    margin-top: 120px;
    padding: 0 145px;
    margin-left: -105px;
    margin-right: -105px;
}

.expert-section .expert-1 .card-body .card-p-1 {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.expert-section .expert-1 .card-body .card-p-2 {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.expert-section .expert-2 .card-body .card-p-1 {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.expert-section .expert-2 .card-body .card-p-2 {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.expert-section .expert-3 .card-body .card-p-1 {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.expert-section .expert-3 .card-body .card-p-2 {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.expert-section .introduce-expert .expert-p-1 {
    margin-bottom: 10px;
    color: #b39359;
}

.expert-section .introduce-expert .expert-p-2 {
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 600;
}

.expert-section .introduce-expert .expert-p-3 {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
}




.contact-container {
    height: 100%;
    width: 100%;
    /* margin: 0 -16px; */
    background-color: #0b2c3d;
    margin-top: 67px;

    display: flex;



}

.contact-container .left .title-1 {
    color: white;
    font-size: 18px;
}

.contact-container .left .title-2 {
    color: #b39359;
    font-size: 52px;
}

.contact-container .left .title-3 {
    color: white;
    font-size: 21px;
}

.contact-container .left {

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 22px;
    margin-left: 116px;
}



.contact-container .right {}

.contact-container .right img {
    max-width: 100%;
    max-height: 100%;
}

.contact-container .contact-3 {
    display: flex;
    position: relative;
}

.contact-container .btn-getlist {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #b39359;
    border-radius: 10px;
    padding: 6px 9px;
    color: white;
    position: absolute;
    /* right: 13px; */
    left: 270px;
    top: 4px;
}

input.input-contact {
    width: 346px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid #b39359;
    outline: none;
    /* position: relative; */
}

@media only screen and (max-width :700px) {
    .header-container {
        /* height: 100%; */
        width: 100%;
        /* margin: 0 -16px; */
        /* background-color: #0b2c3d; */
        margin-top: 67px;
        background-color: #0b2c3d;

        /* background-image: url("images/home-1.webp");
        background-repeat: no-repeat; */

        display: flex;
        flex-direction: column;
        margin-left: 2px;

    }

    .header-container .left {

        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        flex-wrap: wrap;
        gap: 22px;
        margin-left: 16px;
        margin-top: 30px;

    }

    .header-container .left .title-1 {
        color: white;
        font-size: 15px;
    }

    .header-container .left .title-2 {
        color: #b39359;
        font-size: 37px;
    }

    .header-container .left .title-3 {
        color: white;
        font-size: 12px;
    }

    .navbar {
        /* flex: auto !important;
        flex-wrap: wrap !important;
        gap: 30px !important;
        justify-content: center !important; */
        /* width: 100% !important; */
    }

    nav.navbar.navbar-expand-lg.navbar-light.bg-light {
        padding: 8px 18px;
    }

    .contact-container {
        /* height: 100%; */
        width: 100%;
        /* margin: 0 -16px; */
        /* background-color: #0b2c3d; */
        margin-top: 67px;
        background-color: #0b2c3d;

        /* background-image: url("images/home-1.webp");
        background-repeat: no-repeat; */

        display: flex;
        flex-direction: column;
        margin-left: 2px;

    }

    .contact-container .left {

        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        flex-wrap: wrap;
        gap: 22px;
        margin-left: 16px;
        margin-top: 30px;

    }

    .contact-container .left .title-1 {
        color: white;
        font-size: 15px;
    }

    .contact-container .left .title-2 {
        color: #b39359;
        font-size: 37px;
    }

    .contact-container .left .title-3 {
        color: white;
        font-size: 12px;
    }

    input.input-contact {
        width: 250px;
        height: 44px;
        border-radius: 10px;
        border: 1px solid #b39359;
        outline: none;
        /* position: relative; */
    }

    .contact-container .btn-getlist {
        cursor: pointer;
        outline: none;
        border: none;
        background-color: #b39359;
        border-radius: 10px;
        padding: 6px 9px;
        color: white;
        position: absolute;
        /* right: 13px; */
        left: 179px;
        top: 4px;
    }


}

.container-footer {
    background-color: #eeeeee;
}

#btn-footer {
    border: none;
    outline: none;
    height: 41px;
    width: 106px;
    cursor: pointer;
    border-radius: 11px;
    background-color: #353a40
}

#btn-footer a {
    color: white;
}



/* .navbar a:hover {
     background: #ee9c05;
     color: black;

 } */






/* background-color: #e29200; */