.navbar-nav {
    flex: auto !important;
    flex-wrap: wrap !important;
    gap: 30px !important;
    justify-content: center !important;
}

.navbar .content-right {
    display: flex;
    align-items: center;
}

button.btn-contact-nav {
    width: 100px;
    padding: -2px;
    height: 43px;
    border-radius: 29px;
    border: none;
    outline: none;
    background-color: #b39359;
    color: white;
}

.navbar-brand img {

    width: 100px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 8px 70px;
}

.username {
    margin: 0 10px;
}

.add-property button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #b39359;
    border-radius: 5px;
    padding: 6px 9px;
    color: white;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.header-container {
    /* height: 100%;
    width: 100%; */
    /* margin: 0 -16px; */
    background-color: #e9f1ff;
}



.header-content-center {
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    /* padding-right: 706px; */
    /* padding-left: 160px; */
    /* padding-top: 10px; */
    height: 100%;
    /* padding: 186px 390px; */
    width: 100%;
}

.header-content-center .p-up {
    color: white;
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;

}

.header-content-center .p-center {
    color: #b39359;
    font-size: 62px;
    margin-bottom: 20px;
    text-align: center;

}

.header-content .header-content-center .p-down {
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
    text-align: center;

}

.header-content {

    height: 633px;
    background: linear-gradient(to top, #0b2c3d, #050e13ab), url(images/bg-1.webp);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-container .project-section .title-1 {
    text-align: center;
}

.body-container .project-section .title-1 p {
    color: #bf9359;
}

.body-container .project-section .title-p-1 {
    text-align: center;
}

.body-container .project-section .title-p-1 p {
    font-size: 30px;
    color: black;
}

.project-section-customize {
    display: flex;
    justify-content: center;
}

.project-section .project-type {
    width: 65px;
    text-align: center;
    margin-top: -45px;
    background-color: white;
    margin-right: 13px;
    border: none;
}

.project-section .card {
    margin-bottom: 30px;
}

.project-section .card:hover {
    animation-name: example;
    animation-duration: 2s;
}


.project-section .card img {
    cursor: pointer;
}

.project-section .card-body {
    display: flex;
    flex-direction: column;
}

.project-section .card-body .card-p-1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
}

.project-section .card-body .card-p-1:hover {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
    color: #bf9359;
}

.project-section .card-body .card-p-2 {
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.project-section .card-body .card-p-3 {
    font-size: 14px;
    margin-bottom: 10px;

}

.project-section .card-body .card-icon {
    display: flex;
}

.project-section .card-body .card-icon .icon-body {

    border-right: 2px solid #e0e0e0;
    font-size: 13px;
}

.project-section .card-body .card-icon .icon-1 {

    padding-right: 5px;
}

.project-section .card-body .card-icon .icon-2 {

    padding-left: 5px;
    padding-right: 10px;
}

.project-section .card-body .card-icon .icon-3 {

    padding-left: 5px;
    padding-right: 10px;
}

.project-section .card-body .card-icon .icon-4 {

    padding-left: 5px;
    padding-right: 10px;
    border: none !important
}

.project-section .card-body .card-border-center {

    border-top: 2px solid #e0e0e0;
    margin-top: 10px;
}

.project-section .card-body .card-p-4 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600;
}


.project-section {
    display: flex;
    flex-direction: column;

}

.pagination {

    justify-content: center;
    margin-top: 50px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.contact-container {
    height: 100%;
    width: 100%;
    /* margin: 0 -16px; */
    background-color: #0b2c3d;
    margin-top: 67px;

    display: flex;



}

.contact-container .left .title-1 {
    color: white;
    font-size: 18px;
}

.contact-container .left .title-2 {
    color: #b39359;
    font-size: 52px;
}

.contact-container .left .title-3 {
    color: white;
    font-size: 21px;
}

.contact-container .left {

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 22px;
    margin-left: 116px;
}



.contact-container .right {}

.contact-container .right img {
    max-width: 100%;
    max-height: 100%;
}

.contact-container .contact-3 {
    display: flex;
    position: relative;
}

.contact-container .btn-getlist {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #b39359;
    border-radius: 10px;
    padding: 6px 9px;
    color: white;
    position: absolute;
    /* right: 13px; */
    left: 270px;
    top: 4px;
}

input.input-contact {
    width: 346px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid #b39359;
    outline: none;
    /* position: relative; */
}

.container-footer {
    background-color: #eeeeee;
}

#btn-footer {
    border: none;
    outline: none;
    height: 41px;
    width: 106px;
    cursor: pointer;
    border-radius: 11px;
    background-color: #353a40
}

#btn-footer a {
    color: white;
}

@media only screen and (max-width :700px) {
    .header-content-center .p-up {
        color: white;
        font-size: 12px;
        margin-bottom: 20px;
        text-align: center;

    }

    .header-content-center .p-center {
        color: #b39359;
        font-size: 37px;
        margin-bottom: 20px;
        text-align: center;

    }

    .header-content .header-content-center .p-down {
        color: white;
        font-size: 15px;
        margin-bottom: 25px;
        text-align: center;

    }

    nav.navbar.navbar-expand-lg.navbar-light.bg-light {
        padding: 8px 18px;
    }

    .contact-container {
        /* height: 100%; */
        width: 100%;
        /* margin: 0 -16px; */
        /* background-color: #0b2c3d; */
        margin-top: 67px;
        background-color: #0b2c3d;

        /* background-image: url("images/home-1.webp");
        background-repeat: no-repeat; */

        display: flex;
        flex-direction: column;
        margin-left: 2px;

    }

    .contact-container .left {

        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        flex-wrap: wrap;
        gap: 22px;
        margin-left: 16px;
        margin-top: 30px;

    }

    .contact-container .left .title-1 {
        color: white;
        font-size: 15px;
    }

    .contact-container .left .title-2 {
        color: #b39359;
        font-size: 37px;
    }

    .contact-container .left .title-3 {
        color: white;
        font-size: 12px;
    }

    input.input-contact {
        width: 250px;
        height: 44px;
        border-radius: 10px;
        border: 1px solid #b39359;
        outline: none;
        /* position: relative; */
    }

    .contact-container .btn-getlist {
        cursor: pointer;
        outline: none;
        border: none;
        background-color: #b39359;
        border-radius: 10px;
        padding: 6px 9px;
        color: white;
        position: absolute;
        /* right: 13px; */
        left: 179px;
        top: 4px;
    }

}















/* background-color: #e29200; */