.navbar-nav {
    flex: auto !important;
    flex-wrap: wrap !important;
    gap: 30px !important;
    justify-content: center !important;
}

.navbar .content-right {
    display: flex;
    align-items: center;
}

button.btn-contact-nav {
    width: 100px;
    padding: -2px;
    height: 43px;
    border-radius: 29px;
    border: none;
    outline: none;
    background-color: #b39359;
    color: white;
}

#btn-sign-in {
    width: 102px;
    padding: -2px;
    height: 46px;
    border-radius: 29px;
    border: none;
    outline: none;
    background-color: #b39359;
    color: white;

}



.div-background-picture {
    background-image: linear-gradient(to top, #0e3e56, #0f2e3fab), url('images/bg-1.webp');
}

.navbar-brand img {

    width: 100px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 8px 70px;
}



@media only screen and (max-width :700px) {


    nav.navbar.navbar-expand-lg.navbar-light.bg-light {
        padding: 8px 18px;
    }



}















/* background-color: #e29200; */